body {
    background-color: #777;
    color: #fff;
}

/* #block {
    background-color: lightgreen;
    height: 300px;
} */

h4 {
    font-family: 'Orbitron', sans-serif;
    color: #7EDC20;
}

#bmiButton {
    background-color: #7EDC20;
    text-transform: uppercase;
}